@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand: #f5db13;
  --color-brand-foreground: #f2b807;
  --color-brand-dark: #1d1e1d;
  --color-brand-gray: #f5f5f5;
  --color-brand-legendaries: #212121;
  --color-error: #D93E30;
}

html,
body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
