@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand: #f5db13;
  --color-brand-foreground: #f2b807;
  --color-brand-dark: #1d1e1d;
  --color-brand-gray: #f5f5f5;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
