@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand: #f5db13;
  --color-brand-foreground: #f2b807;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
